@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --color-bg-primary: #3C9AF0;
  --color-bg-secondary: #C8C8C8;
  --color-bg-tertiary: #FFF;
  
  --color-font-primary: #3C9AF0;
  --color-font-secondary: #5E5E5E;
  --color-font-tertiary: #FFF;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

