@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --color-bg-primary: #3C9AF0;
  --color-bg-secondary: #C8C8C8;
  --color-bg-tertiary: #FFF;
  
  --color-font-primary: #3C9AF0;
  --color-font-secondary: #5E5E5E;
  --color-font-tertiary: #FFF;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

header {
  background-color: var(--color-bg-primary);
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

nav h1 {
  text-align: center;
  color: var(--color-bg-secondary);
  font-size: 24px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

#cars {
  padding: 20px 15px;
  background-color: var(--color-font-tertiary);
}

.car-card {
  display: flex;
  margin: 20px 0;
}

.car-card img {
  width: 200px;
  border-radius: 12px 0px 0px 12px;
}

.car-card-description {
  background-color: var(--color-bg-tertiary);
  border-radius: 0px 12px 12px 0px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car-card-description h3 {
  color: var(--color-font-secondary);
  font-size: 24px;
}

.car-card-description p {
  color: var(--color-font-secondary);
  font-size: 14px;
}

.car-card-description h4 {
  color: var(--color-font-primary);
  font-size: 24px;
}

#comments {
  padding: 20px 15px;
}

#comments h2 {
  text-align: center;
  font-size: 32px;
  color: var(--color-font-secondary);
  margin-bottom: 40px;
}

.card-comment {
  padding: 25px 20px;
  background-color: var(--color-bg-secondary);
  color: var(--color-bg-primary);
  border-radius: 12px;
  margin: 20px 0;
}

footer {
  padding: 0 15px;
  height: 120px;
  background-color: var(--color-bg-primary);
  color: var(--color-bg-secondary);
  display: flex;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content a {
  font-size: 16px;
}

.footer-content address {
  font-size: 16px;
}

