#cars {
  padding: 20px 15px;
  background-color: var(--color-font-tertiary); 
}

.car-card {
  margin: 20px 0 0 0;
  color: var(--color-font-secondary);
  text-align: center;
  border: 1px solid var(--color-font-primary);
  border-radius: 12px;
}

.car-card img {
  margin: 10px 0;
  width: 200px;
}

.car-card h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

@media (min-width: 576px) {

  .car-card{
    width: 80%;    
    margin: 25px auto;
  }

  .car-card img {
    width: 391px;
  }

  .car-card h4 {
    font-size: 20px;
  }
}
